
<div class="row">
  <div>
  <img
          src="{{ user.image }}"
          class="rounded-circle avatar-xl img-thumbnail"
          
        />
        <div class="file-input">
          <input
            type="file"
            accept="image/png, image/jpeg"
            id="file"
            class="file"
            (change)="onChange($event)"
          />
      </div>
  <div class="col-md-6">
    <h2 class="page-header">Personal Profile</h2>
      <form #userForm="ngForm" (ngSubmit)="updateProfile(userForm.form.value)">
        
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username"
          id="username" placeholder="username" required="true"
           [(ngModel)]="user.username" #username="ngModel">
        <div [hidden]="username.valid || username.pristine"
          class="alert alert-danger">
            Username is required
        </div>
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" name="firstName"
           id="firstName" placeholder="first name" required="true"
           [(ngModel)]="user.firstName" #firstName="ngModel">
        <div [hidden]="firstName.valid || firstName.pristine"
          class="alert alert-danger">
            First name is required
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" name="lastName"
           id="lastName" placeholder="last name" required="true"
           [(ngModel)]="user.lastName" #lastName="ngModel">
        <div [hidden]="lastName.valid || lastName.pristine"
          class="alert alert-danger">
            Last name is required
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" 
           id="email" placeholder="name@example.com" required="true"
           [(ngModel)]="user.email" #email="ngModel">
        <div [hidden]="email.valid || email.pristine"
          class="alert alert-danger">
            Email is required
        </div>
      </div>
     
      <button type="submit" class="btn btn-primary"
        [disabled]="!userForm.form.valid">update profile</button>
    </form>
  </div>
</div>

